.contact__address {
  font-size: 1.3rem;
  line-height: normal;
}

@media screen and (min-width: 768px) {
  .contact__address {
    font-size: 1.8rem;
    padding-bottom: 2rem;
  }
}

@media screen and (min-width: 1024px) {
  .contact__address {
    font-size: 2rem;
    padding-bottom: 2.5rem;
  }
}
