.plan__button {
  align-self: center;
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 1rem;
  margin-top: 1rem;
  padding: 0.75rem 2rem;
  width: 100%;
}

.plan__button--start {
  border-color: #56ccf2;
}

.plan__button--ultra {
  border-color: #b04cd9;
}

.plan__button--mega {
  border-color: #e33b3b;
}
