.banner {
  background-color: var(--grey-light);
  color: var(--white);
  padding-bottom: 1rem;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .banner {
    padding-bottom: 2rem;
  }
}

@media screen and (min-width: 1024px) {
  .banner {
    background: url("../../img/banner.jpg") no-repeat center / cover;
    height: 60vh;
    width: 100%;
  }
}
