.movie {
  background: #fdfdfd;
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

@media screen and (min-width: 0) {
  .movie {
    width: 90%;
  }
}

@media screen and (min-width: 768px) {
  .movie {
    width: 40%;
  }
}

@media screen and (min-width: 992px) {
  .movie {
    width: 30%;
  }
}
